 /* fonts */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /* common styles or utilitize */
 body{
     font-family: 'Poppins', sans-serif;
     background-color: rgba(170, 170, 170, 1);
 }
 main{
     display:flex;
     flex-direction:column;
     align-items:center;    
 }

 .header-info{
     margin-left: 32px;
 }
 .main-container{
     background-color: white;
    
   
 }
 .container{
 background-color: #FFFFFF;
 width: 870px;
 padding: 30px;
 border-radius: 5px;
 
 }
 hr{
     border: 1px solid #D1D1D1;
     margin-bottom: 27px;
 }

/* influencer part start */
.image-width{
    width: 100%;
    border: 2px solid red;
    border-radius: 50%;
}
.font-big{
    font-size: 40px;
}
.influencer p{
    text-align: justify;
}
 .influencer-info{
    margin-bottom: 30px;
}

.preebook-button{
    padding: 10px;
    width: 40%;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #E02C6D;
}
.fas{
    color: white;
}
.section-title{
    color: #562EFF;
    font-size:24px;
    text-align: center;
    margin-bottom: 30px;   
}
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
}

/* influencer part end */


/* popular collection section */

 .popular-collection{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;   
 }
 span{
     margin-left: 5px;
 }
 .collection-banner{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .collection .collection-banner img{
     width: 270px;
     height: 256px;
 }
 .collection-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

.see-more{
    text-align:right;
    color: tomato;
}
.see-more a{
    color: tomato;
    text-decoration: none;
}
.left-see{
    color: tomato;
    margin-left: 3px;
}
  .fa-star{
      font-size: 12px;
  }

 .fa-star.filled{
     color: #ffc014;
 }
 .empty{
     color:#aeaeae;
 }

/* tony robbin part */


 .width-images2{
    margin-top: 30px;
    width: 70%;
 }

 .preebook-button1{
    padding: 10px;
    width: 30%;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #E02C6D;
 }


 /* footer-container */

 .footer-container{
   background-color: navy;
   opacity: .8;
   color: white;
   width: 870px;
   height: 200px;
   padding: 30px;
   border-radius: 5px;
   text-align: center;
 }
 .fab{
     padding: 10px;
 }


 /* ..................... 
      media queries
 ....................... */

  /* mobile device */
  @media only screen and (max-width:688px){
      
      .container{
          width: 100px;
      }

     
      .players, .blogs, .courses{
           
          
          grid-template-columns:repeat(1,1fr)      
      }
     
      .player, .blog{
          flex-direction: column;
      } 
  }

  /* tablet devices */
  @media only screen and (min-width:688px) and (max-width:992px){
     
    
     .container{
      width: 100%; 
     }
    .blogs{
         grid-template-columns: repeat(1,1fr);
     }
  }

  @media screen {
      
  }
